h1{
     font-size:50px ;
     color: green;
     
}

h3{
     font-size: 35px;
     color:darkblue;

}

h4{

     font-size: 25px;
     color:darkblue ;
}


img{
     width: 400px;
}


.had1{
     width:150px;
}
